{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 8
  },
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "func-names": ["error", "never"],
    "indent": ["error", 4],
    "comma-dangle": ["error", "never"],
    "no-use-before-define": ["error", { "functions": false, "classes": true }],
    "no-console": "off",
    "object-shorthand": ["error", "never"],
    "arrow-body-style": ["error", "never"],
    "max-len": [2, {"code": 150, "tabWidth": 4, "ignoreUrls": true}]
  }
}